pipeline/RefreshAAS.json
{
	"name": "RefreshAAS",
	"properties": {
		"activities": [
			{
				"name": "GetTokenAAD",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://login.microsoftonline.com/@{pipeline().parameters.TenantID}/oauth2/v2.0/token",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "client_id=@{pipeline().parameters.APPClientID}\n&scope=https://aspaaseastus2.asazure.windows.net/.default\n&client_secret=@{pipeline().parameters.APPKey}\n&grant_type=client_credentials",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RefreshPBI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetTokenAAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://aspaaseastus2.asazure.windows.net/servers/asdemolab001/models/adventureworks/refreshes",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('GetTokenAAD').output.access_token}",
							"type": "Expression"
						}
					},
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 2,
						"RetryCount": 2,
						"Objects": []
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "RefreshPBI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(json(activity('Web1').output.Response)[0].status,'Unknown'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WaitRefreshStatus",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "WaitRefreshStatus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://aspaaseastus2.asazure.windows.net/servers/asdemolab001/models/adventureworks/refreshes",
								"method": "GET",
								"headers": {
									"Authorization": "bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im5PbzNaRHJPRFhFSzFqS1doWHNsSFJfS1hFZyIsImtpZCI6Im5PbzNaRHJPRFhFSzFqS1doWHNsSFJfS1hFZyJ9.eyJhdWQiOiJodHRwczovL2FzcGFhc2Vhc3R1czIuYXNhenVyZS53aW5kb3dzLm5ldCIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzM3MWFiMjNkLTg4NGMtNDBiZC1iNGQ2LTM2YmMzNDcwZWY2Mi8iLCJpYXQiOjE2MzAzMzA0MTAsIm5iZiI6MTYzMDMzMDQxMCwiZXhwIjoxNjMwMzM0MzEwLCJhaW8iOiJFMlpnWUxqcGVXakN5aWJ2aU0rM0pueE8vaXM2Q1FBPSIsImFwcGlkIjoiMjE1MTRmMGItYzNkYS00ZDI4LThiM2MtYjkyYWE4NjcxNmRiIiwiYXBwaWRhY3IiOiIxIiwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvMzcxYWIyM2QtODg0Yy00MGJkLWI0ZDYtMzZiYzM0NzBlZjYyLyIsIm9pZCI6IjJkNTk2ODdjLWI0MjYtNDJmZi1hNTg2LTMzMzA5ZWQ5OTEzNyIsInJoIjoiMC5BUThBUGJJYU4weUl2VUMwMWphOE5IRHZZZ3RQVVNIYXd5aE5penk1S3FobkZ0c1BBQUEuIiwic3ViIjoiMmQ1OTY4N2MtYjQyNi00MmZmLWE1ODYtMzMzMDllZDk5MTM3IiwidGlkIjoiMzcxYWIyM2QtODg0Yy00MGJkLWI0ZDYtMzZiYzM0NzBlZjYyIiwidXRpIjoiQXZzd0J0WUhNMHFXTk1NYkFOMlhBQSIsInZlciI6IjEuMCJ9.fFV69pdkUe6Pf6EJCQiG-Tmty2-43VRDQtOKlzQyP8GCQKIAL_NInGWFlvGcFm32ZnSD9yLezOfMjWf-G_-H4mmOSfxeh_pyB1p0H70XAm998Vfq35P4gIbUq5ZCJ9Ni_Ly5QgiHc8k2XtHbcF2St8JJW0iH7WDWBgI-n83QkY1Zo30E43m8DClMP-d9kPkTrw2SWEdmwmckMRkX6mauQF6gzUZkF2ODA8W_igPSkEaW3MzFsqIp6w-wuxPu55nPaO17DgWNDdwiDsELXqa534iUDUbZBWj7IDsVBO5sr55dFafh-sTzeQANBNHNEws7ckaCfmNExm88Jyf1SWnf3A",
									"Content-Type": "application/json"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "string",
				"defaultValue": "371ab23d-884c-40bd-b4d6-36bc3470ef62"
			},
			"APPClientID": {
				"type": "string",
				"defaultValue": "21514f0b-c3da-4d28-8b3c-b92aa86716db"
			},
			"APPKey": {
				"type": "string",
				"defaultValue": "_3lXsTxFXK~94gj3ygcnP-6pgP1q._07.y"
			},
			"WorkSpaceID": {
				"type": "string",
				"defaultValue": "41899d11-1d6b-4180-8eb7-cc310c42de0f"
			},
			"DatasetID": {
				"type": "string",
				"defaultValue": "20fb91eb-7fda-4291-8b35-d3d85789a054"
			}
		},
		"variables": {
			"response": {
				"type": "String"
			}
		},
		"annotations": []
	}
}